.news-container {
  display: grid;
  font-family: "Merienda", cursive;
  grid-template-columns: 1fr;
  height: 50vh;
  grid-gap: 10px;
  margin-right: 10%;
  overflow: scroll;
  border: 3px solid purple;
}
