@keyframes FadeInRight {
  0% {
    opacity: 0.01;
    transform: translateX(40%);
  }
  //   80% {
  //     opacity: 0.6;
  //   }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes FadeInLeft {
  0% {
    opacity: 0.01;
    transform: translateX(-40%);
  }
  //   80% {
  //     opacity: 0.6;
  //   }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes FadeInUp {
  0% {
    opacity: 0.01;
    transform: translateY(10%);
  }
  //   80% {
  //     opacity: 0.6;
  //   }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes FadeInDown {
  0% {
    opacity: 0.01;
    transform: translateY(-10%);
  }
  //   80% {
  //     opacity: 0.6;
  //   }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
