@import url("https://fonts.googleapis.com/css?family=Merienda|Roboto+Slab|ZCOOL+KuaiLe");

.navbar {
  background-color: rgb(247, 91, 91);
  padding: 15px;

  a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", cursive;
    margin: 30px;

    span {
      color: white;
      font-family: "ZCOOL KuaiLe", cursive;
      font-size: 1.4em;
    }
  }
}
